/* CSS Reset */
/* Resetting margins, paddings, and borders */
html, body,
h1, h2, h3, h4, h5, h6,
a, p, span,
em, small, strong,
sub, sup,
mark, del, ins, strike,
abbr, dfn,
blockquote, q, cite,
code, pre,
ol, ul, li, dl, dt, dd,
div, section, article,
main, aside, nav,
header, hgroup, footer,
img, figure, figcaption,
address, time,
audio, video,
canvas, iframe,
details, summary,
fieldset, form, label, legend,
table, caption,
tbody, tfoot, thead,
tr, th, td {
  border: 0;
  margin: 0;
  padding: 0;
}

/* Box sizing */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* Sizing - Height */
body {
  min-height: 100vh;
}

/* Typography */
body {
  font-size: 1rem;
  line-height: 1.5;
}

* {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

a,
a:visited {
  color: inherit;
}

/* Resetting specific element styles */
ol,
ul {
  list-style: none;
}

img,
video {
  max-width: 100%;
}

img {
  border-style: none;
}

a {
  text-decoration: none;
}

/* Basic rules */
.page {
  background-color: #fff;
  color: #383838;
  font-family: 'Poppins', sans-serif;
  font-size: 1.125rem;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.button {
  background-color: #000;
  border-radius: 5px;
  color: #9e9e9e;
  padding: 14px 23px;
  transition: background-color .3s;
}

.button:visited {
  color: #9e9e9e;
}

.button:hover {
  background-color: #3c3c3c;
}

.display-inline-block {
  display: inline-block;
}

.bold-white {
  color: #fff;
  font-weight: bold;
}

/* Page header */
.page-header {
  background-image: url(Assets/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  padding: 40px 100px 0;
}

.page-header__item {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 1140px;
  text-align: center;
  width: 100%;
}

/* Page header - top section */
.page-header__item--space-between {
  align-items: center;
  justify-content: space-between;
}

.page-header__hamburger {
  appearance: none;
  background: none;
  border: none;
  cursor: pointer;
  display: none;
  height: 32px;
  outline: none;
  width: 32px;
}

.material-icons {
  color: #000;
  font-size: 2rem;
}

.page-header__list {
  align-items: center;
  display: flex;
}

.page-header__list-item:not(:last-child) {
  margin-right: 30px;
}

.page-header__list-item:not(:last-child) .page-header__list-link {
  transition: color .3s;
}

.page-header__list-item:not(:last-child) .page-header__list-link:hover {
  color: #000;
}

.search-icon {
  cursor: pointer;
  margin-top: 12px;
}

/* Page header - intro section */
.page-header__item--horizontal-center {
  align-items: center;
  flex-direction: column;
}

.page-header__title {
  color: #000;
  font-size: 3.5rem;
  letter-spacing: 2px;
  margin-top: 70px;
}

.page-header__copy {
  margin-top: 8px;
  margin-bottom: 20px;
  max-width: 690px;
  width: 100%;
}

.tooltip {
  margin-top: 10px;
}

/* Page header - image section */
.page-header__image {
  margin-top: 60px;
}

/* Page main */
.page-main {
  background-color: #fff;
  flex: 1;
  padding: 80px 100px 40px;
}

.page-main__wrapper {
  display: flex;
  gap: 80px;
  margin: 0 auto;
  max-width: 1140px;
  width: 100%;
}

/* Page main - about section */
.page-main__left {
  flex-basis: 628px;
  order: 1;
}

.page-main__title {
  color: #000;
  font-size: 2rem;
  margin-top: 60px;
}

.page-main__copy {
  margin-top: 8px;
  margin-bottom: 20px;
}

/* Page main - image section */
.page-main__right {
  flex-basis: 432px;
  order: 2;
}

.page-main__item-image {
  display: block;
}

/* Page footer */
.page-footer {
  padding: 40px 100px;
}

.page-footer__wrapper {
  align-items: center;
  display: flex;
  gap: 10px;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1140px;
  width: 100%;
}

.footer-nav {
  display: flex;
  gap: 25px;
}

.footer-nav__item {
  transition: color .3s;
}

.footer-nav__item:hover {
  color: #000;
}

@media screen and (max-width: 991px) {
  .page-header {
    padding: 40px 40px 0;
  }
  
  .page-header__title {
    font-size: 2.5rem;
  }
  
  .page-header__copy {
    width: 100%;
  }
  
  .page-main {
    padding: 80px 40px 40px;
  }
  
  .page-main__wrapper {
    flex-wrap: wrap;
    gap: 30px;
  }
  
  .page-main__left {
    flex: 100%;
  }
  
  .page-main__right {
    margin: 0 auto;
  }

  .page-main__left {
    margin-right: 0;
    order: 2;
  }
  
  .page-main__title {
    font-size: 1.7rem;
    margin-top: 30px;
  }

  .page-main__right {
    order: 1;
  }
  
  .page-footer {
    padding: 40px;
  }
}

@media screen and (max-width: 767px) {
  .page {
    font-size: 1rem;
  }
  
  .page-header {
    padding: 40px 25px 0;
  }
  
  .page-header__title {
    font-size: 2rem;
  }
  
  .page-header__hamburger {
    display: block;
  }
  
  .page-header__nav {
    background-color: #fff;
    border-radius: 5px;
    display: none;
    flex: 100%;
    margin-top: 20px;
    padding: 20px 0;
  }
  
  .active {
    display: flex;
  }

  .page-header__list {
    flex: 100%;
    flex-wrap: wrap;
  }

  .page-header__list-item {
    flex: 100%;
  }

  .page-header__list-item:not(:last-child) {
    margin-right: 0;
  }
  
  .page-header__list-item:last-child {
    margin: 25px 23px 0;
  }
  
  .page-header__list-link {
    display: block;
    height: 55px;
    padding: 14px 23px;
  }
  
  .page-header__list-item:not(:last-child) .page-header__list-link {
    text-align: left;
    transition: background-color .3s;
  }
  
  .page-header__list-item:not(:last-child) .page-header__list-link:hover{
    background-color: #efefef;
    color: #383838;
  }
  
  .search-icon {
    margin-top: 0;
  }
  
  .page-main {
    padding: 80px 25px 40px;
  }
  
  .page-main__title {
    font-size: 1.5rem;
  }
  
  .page-footer {
    padding: 40px 25px;
  }
  
  .page-footer__wrapper {
    flex-wrap: wrap;
  }
  
  .footer-nav {
    display: flex;
    flex: 100%;
    flex-wrap: wrap;
    gap: 5px;  
  }
  
  .footer-nav__item:last-child {
    flex: 100%;
  }
}
