/* CSS Reset */
/* Resetting margins, paddings, and borders */
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
span,
em,
small,
strong,
sub,
sup,
mark,
del,
ins,
strike,
abbr,
dfn,
blockquote,
q,
cite,
code,
pre,
ol,
ul,
li,
dl,
dt,
dd,
div,
section,
article,
main,
aside,
nav,
header,
hgroup,
footer,
img,
figure,
figcaption,
address,
time,
audio,
video,
canvas,
iframe,
details,
summary,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  border: 0;
  margin: 0;
  padding: 0;
}

/* Box sizing */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* Sizing - Height */
body {
  min-height: 100vh;
}

/* Typography */
body {
  font-size: 1rem;
  line-height: 1.5;
}

* {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

a,
a:visited {
  color: inherit;
}

/* Resetting specific element styles */
ol,
ul {
  list-style: none;
}

img,
video {
  max-width: 100%;
}

img {
  border-style: none;
}

a {
  text-decoration: none;
}

/* Basic rules */
.page {
  background-color: #f3ede5;
  color: #6c6c6c;
  font-family: 'Inter', sans-serif;
}

.color-orange {
  color: #c46004;
}

.color-black {
  color: #191919;
}

/* JavaScript30-Navbar | Landing page */
.page-container {
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  margin: 0 auto;
  min-height: 100vh;
  padding: 0 80px;
  position: relative;
  width: 100%;
}

/* Page header */
.page-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 40px 0;
  position: relative;
}

.page-header__main-nav {
  align-items: center;
  display: flex;
  gap: 20px;
  position: relative;
}

.page-header__main-nav-link,
.page-header__secondary-nav-link {
  transition: color 0.3s;
}

.page-header__main-nav-link:hover,
.page-header__secondary-nav-link:hover {
  color: #373737;
}

.btn {
  background-color: #133416;
  border: 1px solid transparent;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
  padding: 18px 32px;
  transition: background-color 0.3s;
}

.btn:visited {
  color: #fff;
}

.btn:hover {
  background-color: #2a482d;
  color: #fff;
}

.page-header__secondary-nav {
  align-items: center;
  display: flex;
  gap: 20px;
}

.page-header__mobile-menu {
  display: none;
}

.page-header__dropdown {
  background-color: #fff;
  border-radius: 12px;
  display: none;
  padding: 30px;
  position: absolute;
  right: 28px;
  top: 40px;
  width: 430px;
}

.page-header__dropdown::after {
  border-style: solid;
  border-color: transparent transparent #fff transparent;
  border-width: 7px;
  bottom: 100%;
  content: '';
  position: absolute;
  left: 27%;
  margin-left: -7px;
}

.page-header__dropdown-top {
  display: none;
  font-weight: 300;
  justify-content: space-between;
  margin-bottom: 30px;
}

.page-header__dropdown-top-icon {
  cursor: pointer;
}

.page-header__dropdown-top-title {
  color: #a8a8a8;
  font-weight: 600;
}

.page-header__dropdown-item {
  display: flex;
  gap: 12px;
}

.page-header__dropdown-item:not(:last-child) {
  margin-bottom: 20px;
}

.page-header__dropdown-icon-box {
  flex-basis: 36px;
}

.page-header__dropdown-icon {
  width: 100%;
}

.page-header__dropdown-info {
  flex-basis: 394px;
}

.page-header__dropdown-subtitle {
  color: #191919;
}

.page-header__dropdown-copy {
  color: #6c7d8c;
  font-size: 0.875rem;
}

/* Page main */
.page-main {
  display: flex;
  flex: 1;
  gap: 30px;
  padding: 100px 0 40px;
}

.page-main__title {
  font-size: 3.5rem;
  line-height: 1.3;
  margin-top: 40px;
}

.page-main__copy {
  margin-top: 15px;
  max-width: 700px;
  width: 100%;
}

.page-main__link {
  display: inline-block;
  margin-top: 25px;
}

.page-main__ratings {
  display: flex;
  gap: 20px;
  margin-top: 35px;
}

/* Page footer */
.page-footer {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 40px 0;
}

.page-footer__title {
  font-weight: 400;
}

.page-footer__logos {
  display: flex;
  gap: 60px;
  margin-top: 30px;
}

.page-footer__logo {
  display: flex;
  flex: 1;
}

.active-display-block {
  display: block;
}

@media (max-width: 992px) {
  .btn--border-radius-mobile {
    border-radius: 0 0 5px 5px;
  }

  .page-container {
    padding: 0 40px;
  }

  .page-header {
    flex-wrap: wrap;
  }

  .page-header__main-nav {
    background-color: #fff;
    border-radius: 5px 5px 0 0;
    display: none;
    flex: 100%;
    flex-direction: column;
    margin-top: 15px;
    padding: 20px 0;
  }

  .page-header__secondary-nav {
    background-color: #fff;
    display: none;
    flex: 100%;
    flex-direction: column;
  }

  .page-header__main-nav-link,
  .page-header__secondary-nav-link {
    text-align: center;
    width: 100%;
  }

  .page-header__mobile-menu {
    display: block;
    cursor: pointer;
  }

  .page-header__dropdown {
    left: 0;
    width: 100%;
    text-align: left;
    display: none;
    position: absolute;
    background-color: #fff;
    border-radius: 12px;
    padding: 30px;
    top: -55px;
  }

  .page-header__dropdown-top {
    display: flex;
  }

  .page-header__dropdown::after {
    display: none;
  }

  .page-header__dropdown-info {
    flex: 100%;
  }

  .page-main {
    flex-wrap: wrap;
    padding: 40px 0;
  }

  .page-main__title {
    margin-top: 0;
  }

  .page-main__right {
    flex: 100%;
    margin-top: 30px;
  }

  .page-main__right-image {
    width: 100%;
  }

  .page-footer__logos {
    flex-wrap: wrap;
  }

  .page-footer__logo {
    flex: calc(50% - 80px);
    max-width: revert;
  }

  .page-footer__logo:first-child,
  .page-footer__logo:nth-child(3) {
    justify-content: flex-end;
  }

  .page-footer__logo:nth-child(2),
  .page-footer__logo:last-child {
    justify-content: start;
  }

  .active-display-flex {
    display: flex;
  }

  .active-display-block {
    display: block;
  }
}

@media (max-width: 768px) {
  .page-container {
    padding: 0 25px;
  }

  .page-main__title {
    font-size: 2.5rem;
  }

  .page-main__right {
    display: none;
  }

  .page-footer__title {
    text-align: center;
  }

  .page-footer__logo {
    flex: 0 100%;
  }

  .page-footer__logo:nth-child(2),
  .page-footer__logo:last-child,
  .page-footer__logo:first-child,
  .page-footer__logo:nth-child(3) {
    justify-content: center;
  }
}

@media (max-width: 390px) {
  .page-main__title {
    font-size: 2.1rem;
  }
}
