/* CSS Reset */
/* Resetting margins, paddings, and borders */
html, body,
h1, h2, h3, h4, h5, h6,
a, p, span,
em, small, strong,
sub, sup,
mark, del, ins, strike,
abbr, dfn,
blockquote, q, cite,
code, pre,
ol, ul, li, dl, dt, dd,
div, section, article,
main, aside, nav,
header, hgroup, footer,
img, figure, figcaption,
address, time,
audio, video,
canvas, iframe,
details, summary,
fieldset, form, label, legend,
table, caption,
tbody, tfoot, thead,
tr, th, td {
  border: 0;
  margin: 0;
  padding: 0;
}

/* Box sizing */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* Sizing - Height */
body {
  min-height: 100vh;
}

/* Typography */
body {
  font-size: 1rem;
  line-height: 1.5;
}

* {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

a,
a:visited {
  color: inherit;
}

/* Resetting specific element styles */
ol,
ul {
  list-style: none;
}

img,
video {
  max-width: 100%;
}

img {
  border-style: none;
}

a {
  text-decoration: none;
}

/* Basic rules */
.page { 
  color: #adadad;
  font-family: 'Inter', sans-serif;
  font-size: 1.125rem;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.button {
  background-color: #fae11e;
  color: #000;
  font-family: 'Prata', serif;
  height: 56px;
  padding: 16px 32px;
  transition: background-color .3s;
}

.button:visited {
  color: #000 !important;
}

.button:hover {
  background-color: #fcef82 !important;
  color: #000 !important;
}

.button--inline-block {
  display: inline-block;
}

/* Page header */
.page-header {
  background-color: #000;
  padding: 40px 80px;
}

.page-header__top {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1440px;
  position: relative;
  width: 100%;
  gap: 30px;
}

.page-header__logo {
  flex: 0 0 163px;
}

.site-logo-img {
  display: block;
  margin-top: 5px;
}

.page-header__mobile {
  align-items: center;
  display: flex;
  flex-basis: 800px;
  justify-content: space-between;
}

.page-header__mobile-icon {
  appearance: none;
  background: none;
  border: none;
  cursor: pointer;
  display: none;
  position: relative;
}

.material-icons {
  color: #fff;
  font-size: 2rem;
}

.page-header__nav-link:not(:last-child) {
  margin-right: 30px;
}

.page-header__nav-link {
  transition: color .3s;
}

.page-header__nav-link:visited {
  color: #adadad;
}

.page-header__nav-link:hover {
  color: #8a8a8a;
}

.page-header__hero {
  margin: 0 auto;
  max-width: 1440px;
  padding-top: 40px;
  width: 100%;
}

.page-header__title {
  color: #fff;
  font-family: 'Prata', serif;
  font-weight: 400;
  font-size: 3.5rem;
  margin-top: 30px;
  max-width: 675px;
  width: 100%;
}

.page-header__copy {
  margin-top: 15px;
  max-width: 665px;
  width: 100%;
}

.page-header__hero-graphics {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 80px;
}

.page-header__hero-logo  {
  display: flex;
  flex-basis: calc((100% / 6) - 25px);
}

.page-header__hero-logo:not(:last-child)  {
  margin-right: 5px;
}

.page-header__hero-logo:last-child  {
  justify-content: flex-end;
}

/* Main */
.page-main {
  flex: 1;
}

/* Main - Articles section */
.articles {
  background-color: #000;
  padding: 60px 80px;
}

.articles__wrapper {
  display: flex;
  gap: 80px;
  margin: 0 auto;
  max-width: 1440px;
  width: 100%;
}

.articles__item {
  display: flex;
  flex: 50%;
  flex-direction: column;
}

.articles__title {
  color: #fff;
  font-family: 'Prata', serif;
  font-weight: 400;
  font-size: 2rem;
  margin-top: 30px;
}

.articles__copy {
  margin-top: 15px;
}

.articles__link {
  width: max-content;
}

.articles__link:hover {
  text-decoration: underline;
}

/* Main - About section */
.about {
  background-color: #2e3038;
  padding: 60px 80px;
}

.about__wrapper {
  column-count: 2;
  column-gap: 80px;
  margin: 0 auto;
  max-width: 1440px;
  width: 100%;
}

.about__title {
  color: #fff;
  font-family: 'Prata', serif;
  font-weight: 400;
  font-size: 2rem;
  margin-bottom: 15px;
}

.about__copy:not(:first-of-type) {
  margin-top: 20px;
}

/* Main - Chats section */
.chats {
  background-color: #000;
  padding: 60px 80px;
}

.chats__wrapper {
  margin: 0 auto;
  max-width: 1440px;
  width: 100%;
}

.chats__item {
  max-width: 554px;
}

.chats__title {
  color: #fff;
  font-family: 'Prata', serif;
  font-weight: 400;
  font-size: 2rem;
}

.chats__copy {
  margin-top: 15px;
  margin-bottom: 30px;
}

/* Page footer */
.page-footer {
  align-items: center;
  background-color: #2e3038;
  padding: 30px 80px;
}

.page-footer__wrapper {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1440px;
  width: 100%;
}

.page-footer__link {
  margin-top: 6px;
  display: inline-block;
}

.page-footer__link:not(:last-child) {
  margin-right: 15px;
}

@media screen and (max-width: 991px) {
  .page-header {
    padding: 40px;
  }
  
  .page-header__top {
    gap: 0;
  }
  
  .page-header__mobile {
    background-color: #fff;
    display: none;
    flex: 100%;
    flex-direction: column;
    margin-top: 40px;
    min-height: 100px;
    padding: 20px 0;
    position: absolute;
    left:0;
    top: 20px;
    width: 100%;
    z-index: 100;
  }
  
  .site-logo-img {
    margin-top: 0;
  }
  
  .page-header__mail {
    margin: 25px 20px 0;
    text-align: center;
    width: calc(100% - 40px);
  }
  
  .page-header__nav {
    width: 100%;
  }

  .page-header__nav-link {
    display: flex;
    align-items: center;
    padding: 0 20px;
    height: 56px;
  }
  
  .page-header__nav-link {
    color: #000;
  }
  
  .page-header__nav-link:visited {
    color: #000;
  }

  .page-header__nav-link:hover {
    background-color: #E0E0E0;
    color: #000;
  }
  
  .page-header__nav-link:not(:last-child) {
    margin-right: 0;
  }

  .page-header__mobile-icon {
    display: block;
  }

  .active {
    display:flex;
  }

  .articles,
  .about,
  .chats {
    padding: 60px 40px; 
  }
  
  .page-header__title {
    font-size: 2.5rem;
  }

  .page-header__hero-logo  {
    display: flex;
    flex-basis: calc((100% / 3) - 25px);
    justify-content: center;
    margin-top: 20px;
  }
  
  .page-header__hero-logo:not(:last-child)  {
    margin-right: 0;
  }

  .page-header__hero-logo:last-child  {
    justify-content: center;
  }

  .articles__wrapper {
    flex-direction: column;
    gap: 56px;
  }
  
  .articles__item {
    flex-basis: 100%;
  }

  .articles__item:first-child {
    margin-right: 0;
  }

  .about__wrapper {
    column-count: 1;
    column-gap: 0;
  }

  .chats__item {
    max-width: 100%;
  }
  
  .page-footer {
    padding: 30px 40px;
  }
}

@media screen and (max-width: 767px) {
  .page-header {
    padding: 40px 20px;
  }
  .page-header__logo {
    font-size: 1rem;
  }
  
  .page-header__title {
    font-size: 2.2rem;
  }
  
  .page-header__hero-graphics {
    justify-content: center;
  }
  
  .page-header__hero-logo {
    flex-basis: calc((100% / 2) - 25px);
  }  
  
  .articles,
  .about,
  .chats {
    padding: 60px 20px; 
  }

  .articles__title,
  .about__title,
  .chats__title {
    font-size: 1.7rem;
  }

  .page-footer {
    padding: 30px 20px;
  }
  
  .page-footer__item {
    flex: 100%;
  }
  
  .page-footer__item:last-child {
    margin-top: 5px;
  }
}
