/* CSS Reset */
/* Resetting margins, paddings, and borders */
html, body,
h1, h2, h3, h4, h5, h6,
a, p, span,
em, small, strong,
sub, sup,
mark, del, ins, strike,
abbr, dfn,
blockquote, q, cite,
code, pre,
ol, ul, li, dl, dt, dd,
div, section, article,
main, aside, nav,
header, hgroup, footer,
img, figure, figcaption,
address, time,
audio, video,
canvas, iframe,
details, summary,
fieldset, form, label, legend,
table, caption,
tbody, tfoot, thead,
tr, th, td {
  border: 0;
  margin: 0;
  padding: 0;
}

/* Box sizing */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* Sizing - Height */
body {
  min-height: 100vh;
}

/* Typography */
body {
  font-size: 1rem;
  line-height: 1.5;
}

* {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

a,
a:visited {
  color: inherit;
}

/* Resetting specific element styles */
ol,
ul {
  list-style: none;
}

img,
video {
  max-width: 100%;
}

img {
  border-style: none;
}

a {
  text-decoration: none;
}

/* Basic rules */
:root {
  --border-radius: 6px;
  --height: 61px;
  --padding-vertical: 18px;
  --padding-horizontal: 24px;
}

.page {
  background-color: #f6f9fe;
  color: #434343;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 1.125rem;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 30px 80px 50px;
}

.button {
  background-color: #372865;
  border-radius: var(--border-radius);
  color: #fff !important;
  font-weight: bold;
  height: var(--height);
  padding: var(--padding-vertical) var(--padding-horizontal);
  transition: background-color .3s;
}

.button:visited {
  color: #fff !important;
}

.button:hover {
  background-color: #5e5283 !important;
}

/* Page header */
.page-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1140px;
  width: 100%;
}

.page-header__mobile-icon {
  appearance: none;
  background: none;
  border: none;
  cursor: pointer;
  display: none;
  height: 24px;
  outline: none;
  width: 24px;
}

.material-icons {
  color: #000;
  font-size: 1.5rem;
}

.main-nav__list {
  align-items: center;
  display: flex;
}

.main-nav__item:not(:last-child) {
  margin-right: 20px;
}

.main-nav__link {
  display: block;
}

.main-nav__item:not(:last-child) .main-nav__link {
  transition: color .3s;
}

.main-nav__item:not(:last-child) .main-nav__link:hover {
  color: #000;
}

/* Page main */
.page-main {
  display: flex;
  flex: 1;
  margin: 0 auto;
  max-width: 1140px;
  width: 100%;
}

.page-main__item:first-child {
  flex: 2;
  margin-top: 100px;
}

.page-main__item:last-child {
  flex: 1;
  margin-top: 120px;
  padding-left: 60px;
}

.page-main__image {
  height: 418px;
  width: 348px;
}

.page-main__promotion {
  background-color: #372865;
  border-radius: 30px;
  color: #ccc1e6;
  display: inline-block;
  margin-top: 30px;
  padding: 8px 24px;
}

.page-main__link {
  font-weight: bold;
  text-decoration: underline;
}

.page-main__title {
  color: #353252;
  font-size: 3.5rem;
  font-weight: bold;
  line-height: 1.2;
  margin-top: 30px;
}

.page-main__copy {
  margin-top: 8px;
}

.page-main__form {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
}

.page-main__form-email {
  border-radius: var(--border-radius);
  border: 1px solid lightgray;
  flex-basis: 356px;
  height: var(--height);
  margin-right: 10px;
  order: 1;
  padding: 8px 12px;
}

.page-main__form-submit {
  border: none;
  cursor: pointer;
  flex-basis: 128px;
  order: 2;
}

.just-validate-error-field {
  border: 0;
  color: #e53f3f;
  outline: 2px solid #ff4747;
}

.just-validate-error-label {
  flex: 100%;
  margin-top: 15px;
  margin-left: 5px;
  order: 3;
}

/* Page footer */
.page-footer {
  margin: 0 auto;
  max-width: 1140px;
  padding: 40px 0 0;
  width: 100%;
}
.page-footer__stack {
  display: flex;
  margin-top: 20px;
}

.page-footer__link:not(:last-child) {
  margin-right: 15px;
}

.page-footer__icon {
  height: auto;
  width: 40px;
}

@media screen and (max-width: 1067px) {
  .container {
    padding: 30px 70px 50px;
  }
  
  .page-header {
    flex-wrap: wrap;
  }
  
  .page-header__mobile-icon {
    display: block;
  }

  .page-header__nav {
    display: none;
  }

  .active {
    display: flex;
    flex: 100%;
  } 
  
  .main-nav {
    background-color: #eaeaea;
    border-radius: 5px;
    margin-top: 20px;
    padding: 20px 0;
  }

  .main-nav__list {
    flex-wrap: wrap;
    justify-content: center;
    flex: 100%
  }

  .main-nav__item {
    flex: 100%;
  }

  .main-nav__item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 0;
  }
  
  .main-nav__item:last-child {
    margin: 25px 18px 0;
    text-align: center;
  }
  
  .main-nav__item:not(:last-child) .main-nav__link {
    align-items: center;
    display: flex;
    height: 50px;
    padding: 0 18px;
    transition: background-color .3s;
  }
  
  .main-nav__item:not(:last-child) .main-nav__link:hover {
    background-color: #fff;
    color: inherit;
  }
  
  .page-main__item:first-child {
    flex: 100%;
    text-align: center;
  }
  
  .page-main__promotion {
	  margin-top: 0;
  }

  .page-main__form {
    justify-content: center;
    margin: 30px auto 0;
  }
  
  .just-validate-error-label {
    text-align: left;
  }
  
  .page-main__item:last-child {
    display: none;
  }

  .page-footer__stack {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
}

@media screen and (max-width: 767px) {
  .container {
    padding: 30px 20px 50px;
  }
  
  .page-main__item {
    margin-top: 70px;
  }

  .page-main__title {
    font-size: 2rem;
  }

  .page-main__form {
    flex-wrap: wrap;
    justify-content: center;
  }

  .page-main__form-email {
    flex-basis: 100%;
    margin-right: 0;
    margin-bottom: 15px;
  }

  .page-main__form-submit {
    flex-basis: 100%;
    order: 3;
  }
  
  .just-validate-error-label {
    margin-bottom: 20px;
    margin-top: 0;
    order: 2;
  }
}
