/* CSS Reset */
/* Resetting margins, paddings, and borders */
html, body,
h1, h2, h3, h4, h5, h6,
a, p, span,
em, small, strong,
sub, sup,
mark, del, ins, strike,
abbr, dfn,
blockquote, q, cite,
code, pre,
ol, ul, li, dl, dt, dd,
div, section, article,
main, aside, nav,
header, hgroup, footer,
img, figure, figcaption,
address, time,
audio, video,
canvas, iframe,
details, summary,
fieldset, form, label, legend,
table, caption,
tbody, tfoot, thead,
tr, th, td {
  border: 0;
  margin: 0;
  padding: 0;
}

/* Box sizing */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* Sizing - Height */
body {
  min-height: 100vh;
}

/* Typography */
body {
  font-size: 1rem;
  line-height: 1.5;
}

* {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

a,
a:visited {
  color: inherit;
}

/* Resetting specific element styles */
ol,
ul {
  list-style: none;
}

img,
video {
  max-width: 100%;
}

img {
  border-style: none;
}

a {
  text-decoration: none;
}

/* Basic rules */
:root {
  font-family: 'DM Sans', sans-serif;
}

.font-bold {
  font-weight: 700;
}

/* IndieBrew - Home page */
.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.color-blue {
  color: #2604f9;
}

/* IndieBrew - Home page - Page header */
.page-header {
  background-image: radial-gradient(at top left, #ebcbf7 0%, #f9e9ec 15%, #fdfcf9 30%);
  padding: 40px 80px;
}

.page-header__top {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1140px;
  width: 100%;
}

.page-header__hamburger {
  align-items: center;
  appearance: none;
  background: none;
  border: none;
  cursor: pointer;
  display: none;
  height: 32px;
  outline: none;
  width: 32px;
}

.material-icons {
  color: #000;
  font-size: 2rem;
}

.page-header__nav {
  align-items: center;
  display: flex;
  gap: 30px;
}

.page-header__nav-link {
  transition: color .3s;
}

.page-header__nav-link:hover {
  color: #5a5a5a;
}

.button {
  background-color: #664efc;
  color: #fff !important;
  border: 1px solid transparent;
  border-radius: 6px;
  padding: 16px 30px;
  transition: background-color .5s;
}

.button:visited {
  color: #fff;
}

.button:hover {
  background-color: #9180fd;
}

.page-header__main {
  display: flex;
  margin: 70px auto 0;
  max-width: 1140px;
  width: 100%;
}

.page-header__main-left,
.page-header__main-right {
  flex: 50%
}

.page-header__main-left {
  padding-top: 100px;
  padding-right: 30px;
}

.page-header__title {
  font-size: 3rem;
  line-height: 1.3;
  margin-bottom: 15px;
  max-width: 490px;
}

.page-header__copy {
  color: #555555;
}

.page-header__copy:first-of-type {
  max-width: 520px;
}

.page-header__main-link {
  display: inline-block;
  margin-top: 25px;
}

.page-header__main-image {
  display: block;
  margin-top: 25px;
  margin-bottom: 15px;
}

/* IndieBrew - Home page - Page main */
.page-main {
  background-color: #fff;
  flex: 1;
  padding: 0 80px;
}

.section-one,
.section-two {
  display: flex;
  padding: 40px 0;
  margin: 0 auto;
  max-width: 1140px;
  width: 100%;
}

.section-one__left,
.section-one__right,
.section-two__left,
.section-two__right {
  flex: 50%;
}

.section-one__left,
.section-two__right {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section-one__right,
.section-two__right {
  padding-left: 135px;
}

.section-one__title,
.section-two__title {
  font-size: 2rem;
  line-height: 1.3;
  max-width: 530px;
}

.section-one__copy,
.section-two__copy {
  color: #555555;
  max-width: 530px;
  margin-top: 15px;
}

.section-one__link,
.section-two__link {
  display: block;
  margin-top: 20px;
}

.section-one__link:visited,
.section-two__link:visited {
  color: #2604f9;
}

.section-one__link:hover,
.section-two__link:hover {
  text-decoration: underline;
}

/* IndieBrew - Home page - Page footer */
.page-footer {
  background-color: #fdfcf9;
  padding: 40px 80px;
}

.page-footer__container {
  display: flex;  
  gap: 30px;
  margin: 0 auto;
  max-width: 1140px;
  width: 100%;
}

.page-footer__site-info {
  flex: 1;
}

.page-footer__nav {
  display: flex;
  flex: 2;
  justify-content: space-between;
}

.page-footer__title {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.page-footer__subtitle {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.page-footer__copy {
  max-width: 300px;
}

.page-footer__copy:last-of-type {
  margin-top: 20px;
}

.page-footer__link {
  display: block;
  transition: color .3s;
}
.page-footer__link:hover {
  color: #5a5a5a;
}

.page-footer__link:not(:last-child) {
  margin-bottom: 5px;
}

@media (max-width: 991px) {
  .page-header__main {
    flex-wrap: wrap;
  }

  .page-header__main-left,
  .page-header__main-right {
    flex: 100%;
  }

  .page-header__main-left {
    order: 2;
    padding-top: 70px;
    padding-right: 0;
  }

  .page-header__main-right {
    order: 1;
  }

  .section-one__right {
    padding-top: 30px;
  }
  
  .section-one__right,
  .section-two__right {
    padding-left: 16px;
  }
  
  .page-footer__site-info,
  .page-footer__nav {
    flex: 50%;
  }

  .page-footer__nav {
    flex-wrap: wrap;
    justify-content: center;
  }

  .page-footer__nav-section {
    flex: 50%;
  }
  
  .page-footer__subtitle--margin-top {
    margin-top: 40px;
  }
}

@media (max-width: 767px) {
  .page-header,
  .page-footer {
    padding: 40px;
  }
  
  .page-main{
    padding: 0 40px;
  }
  
  .page-header__top {
    flex-wrap: wrap;
  }
  
  .page-header__hamburger {
    display: flex;
  }
  
  .page-header__nav {
    align-items: center;
    background-color: #D1CFE7;
    border-radius: 5px;
    display: none;
    flex: 100%;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 20px;
    padding: 20px;
  }
  
  .page-header__nav-link {
    flex: 100%;
    text-align: center;
  }
  
  .active {
    display: flex;
  }
  
  .section-one,
  .section-two {
    flex-wrap: wrap;
  }
  
  .section-one__left,
  .section-one__right,
  .section-two__left,
  .section-two__right {
    flex: 100%;
  }

  .section-one__left,
  .section-two__right {
    padding-top: 50px;
  }

  .section-one__right,
  .section-two__right {
    padding-left: 0;
  }
  
  .section-one__left {
    order: 2;
  }

  .section-one__right {
    order: 1;
    padding-top: 0;
  }
}

@media (max-width: 600px) {
  .page-header,
  .page-footer {
    padding: 40px 20px;
  }
  
  .page-main{
    padding: 0 20px;
  }
  
  .page-header__title {
    font-size: 2.5rem;
    max-width: 100%;
  }

  .page-header__copy:first-of-type {
    max-width: 100%;
  }
  
  .section-one__title,
  .section-two__title {
    font-size: 1.7rem;
    max-width: 100%;
  }

  .section-one__copy,
  .section-two__copy {
    max-width: 100%;
  }

  .page-footer__container {
    flex-wrap: wrap;
  }
  
  .page-footer__site-info,
  .page-footer__nav {
    flex: 100%;
  }

  .page-footer__nav-section {
    flex: 50%;
  }
  
  .page-footer__copy {
    max-width: 100%;
  }
}

/* IndieBrew - Signup */
.emoji {
  font-family: 'Noto Color Emoji', sans-serif;
}

.signup-container {
  display: flex;
  flex-direction: column;
  margin-inline: auto;
  min-height: 100vh;
  max-width: 1140px;
  padding: 40px;
  width: 100%;
}

.signup {
  background-color: #f9eef9;
}

/* IndieBrew - Signup header */
.signup-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.signup-header__link {
  align-items: center;
  display: flex;
}

.back-arrow-icon {
  background-color: #fff;
  border: 1px solid lightgray;
  border-radius: 6px;
  display: inline-block;
  margin-right: 10px;
  padding: 8px 12px;
}

/* IndieBrew - Signup main */
.signup-main {
  align-items: center;
  display: flex;
  flex: 1;
  padding-top: 50px
}

.signup-main__left {
  flex: 50%;
  padding-right: 80px;
}

.signup-main__title {
  font-size: 1.9rem;
  line-height: 1.3;
  margin-bottom: 30px;
}

.signup-main__left-stack {
  display: flex;
}

.signup-main__left-stack:not(:last-child) {
  margin-bottom: 20px;
}

.signup-main__right {
  flex: 50%;
}

.signup-main__copy {
  margin-left: 10px;
}

.signup-main__form {
  background-color: #fff;
  border-radius: 8px;
  padding: 50px
}

.signup-main__form-title {
  font-size: 1.5rem;
  margin-bottom: 30px;
}

.signup-main__form-stack {
  margin-bottom: 30px;
}

.signup-main__input-email,
.signup-main__input-text,
.signup-main__input-password {
  border: 1px solid lightgray;
  border-radius: 6px;
  display: block;
  height: 50px;
  margin-top: 5px;
  padding: 0 15px;
  width: 100%;
}

.signup-main__form-link {
  color: #664efc;
  text-decoration: underline;
}

.signup-main__form-link:visited {
  color: #664efc;
}

.signup-main__submit-btn {
  background-color: #664efc;
  border: 1px solid transparent;
  border-radius: 6px;
  color: #fff;
  cursor: pointer;
  height: 50px;
  padding: 0 15px;
  transition: background-color .3s;
  width: 100%;
}

.signup-main__submit-btn:visited {
  color: #fff;
}

.signup-main__submit-btn:hover {
  background-color: #8471fc;
}

@media (max-width: 991px) {
  .signup-main {
    flex-wrap: wrap;
}
  .signup-main__left,
  .signup-main__right {
    flex: 100%;
  }

  .signup-main__left {
    padding-right: 0;
  }

  .signup-main__form {
    margin-top: 30px;
  }
}

@media (max-width: 576px) {
  .signup-container {
    padding: 40px 20px;
  }
  
  .signup-main__title {
    font-size: 1.7rem;
  }
  
  .signup-main__form {
    background-color: #fff;
    border-radius: 8px;
    padding: 30px 20px;
  }
  
  .signup-main__form-title {
    font-size: 1.3rem;
  }
}

@media (max-width: 400px) {
  .back-home-text {
    position: absolute;
	  left: -999px;
  }
}
